/* 
    selector {
    propiedad : valor ;
    propiedad : valor ;
    }
*/

body {
    /* Cambiar color de fondo */
    background-color: #FFFBF5;
    font-family: 'Chakra Petch', sans-serif;
}

header nav .title{
    text-align: center;
    margin: 0 auto;
    font-size: xx-large;
    color: #363062;
    font-family: 'Amatic SC', sans-serif;
}


header nav .nav-right-section {
    color: rgb(253, 253, 253);
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-large;
}

/* Son las secciones de la barra de navegación */
nav .nav-right-section a{
    color: #F8EDE3;
    margin-right: 30px;
    font-family: 'Amatic SC', sans-serif;
    margin-right: 15px;
    text-decoration: none;
}

/* Le da estilo a la barra de navegación */
nav .nav-right-section{
    width: auto;
    background-color: #85586F; 
}

/* El texto de bienvenida */
main .inicio{
    background-color: #e2d0d9b2;
    align-items: center;
    color: black;
    font-size: medium;
    font-family: font-family 'Chakra Petch', sans-serif;
}

main .inicio h3{
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    color: #7A3E65;
    font-size: xx-large;
}

main .about-me{
    display: flex;
    align-items: center;
    margin-top: 5%;
    background-color: #818FB4;
}

main .about-me h3{
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    color: #363062;
    font-size: xx-large;
}

main .about-me p{
    margin-left: 8%;
    font-size: medium;
}

/* Título de los libros */
main .about-me cont{
    margin-left: 500px;
    background-color: aqua;
    width: fit-content;
    text-align: center;
}

/* Distribución*/
main .inf{
    display: flex;
    text-align: center;
    justify-content: center;
    width: auto;
    background-color: #e2d0d9b2;

}
main .books{
    margin-top: 5%;
    width: 400px;
    text-align: center;
}

main .books h3{
    font-family: 'Amatic SC', sans-serif;
    font-size: x-large;
    color: #7A3E65;
    border-bottom: 2px solid #363062;
    width: fit-content;
    text-align: center;
}

/* Es la descripción de los libros */
main .script{
    margin: 30px;
    color: black;
    text-align: justify;
    font-size: medium;
    border-bottom: 2px solid #363062;
}

main .sugerencias h3{
    width: 100%;
    font-family: 'Amatic SC', sans-serif;
    font-size: x-large;
    color: #7A3E65;
    border-bottom: 2px solid;
    text-align: center;
}

main .sugerencias{
    text-align: center;
}

main .sor{
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: x-large;
    color: #7A3E65;
    border-bottom: 2px solid;
}